.sideBar{

    height: 100%;
    background: #293e40;
    box-shadow: 2px 0px 5px rgba(0,0,0,0.5);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 120px;
    z-index: 100;
    border: 1px solid #82c9b8;
 

  
    
}

.sideBar ul {
   height: 100%;
   list-style: none;
   display: flex;
   
   flex-direction: column;
   justify-content: center;

   margin: 0.4;
   text-align: left;
   padding: 0.2em 0;
   line-height: 700%;

   


   
   
   

}

.sideBar li{
    text-decoration: none;
    margin: 0.5em 0;
    background-position: 100% .4em;
    padding-left: 0.4em 1em;
    font: 20px;
    color: #ffffff;
    
  
    border-left: 0;
    font-family: "SourceSansPro", "Helvetica Neue", "Helvetica", Arial, sans-serif;;
 
   
   

    
 

}




.sideBar a {
    color: rgb(56, 212, 186);
    text-decoration: none;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    padding: 0.3em 0;
    font-style: normal;
    list-style-position: outside;
  
    align-items: stretch;
   
    border-color: rgba(64, 194, 133, 0.693);
    border-left: 0;
    width:200px;
    height:100px;
    box-shadow:none;

    border-left: 0;
    font-family: 'Poppins', sans-serif;
 

   
    

    
 

}

.sideBar a:hover,
.sideBar a:active {
    text-decoration: none;
    font-size: 18px;
    color: peru;


     
}