.toggle-button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 18px;
    width: 24px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    margin: 0;



}



.toggle-button-line {

    width: 24px;
    height: 2px;
    background: white;

}


.toggle-button:hover {


    background: rgb(40, 120, 145);

}

